body
{
	font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif; 
	color: #000;
	background: url(images/bg2.png) #fff;
	text-align: center;
}