body
{
	font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif; 
	color: #000;
	background: url(images/bg2.png) #fff;
	text-align: center;
}
a
{
	text-decoration: none;
	color: #7f7f7f;
}
a:hover, a:focus
{
	color: #000;
}
img
{
	max-width: 100%;
	height: auto;
	border: 0;
	outline: 0;
}
h1
{
	font: normal 1.6em/1.3 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
	margin-bottom: 0;
	text-shadow: 0 2px 0 #fff;
}
h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	text-shadow: 0 1px 0 #fff;
}
h3
{
	margin: 0;
	font-weight: normal;
	text-shadow:0 1px 0 #fff;
}
p
{
	margin: 0 0 1em;
}
label {
	cursor: pointer;
	display: inline-block;
	background: #fff;
	background: rgba(255,255,255,0.5);
	border: 1px solid #333;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding: 0.4em 0.5em;
	float: left;
	width: 50%;
	height: 2.4em;
	text-transform: uppercase;
}
input,textarea {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	background: rgba(255,255,255,0.5);
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #333;
	border-left: 0;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding: 0.25em 0.6em;
	width: 50%;
	float: left;
	height: 2.4em;
}
select:focus, input:focus{
	background-color: #fff;
	outline: none;
}
::-webkit-input-placeholder
{
	color: #999;
}
:-moz-placeholder
{
	color: #999;
}
/****** Classes ********/

.btn {
	background: #9d0000; /* Old browsers */
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;
	line-height: 1;
	padding: 0.7em 1em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
    border: 1px solid #770000;
	-webkit-transition: -webkit-box-shadow 0.3s ease-out;
	-moz-transition: -moz-box-shadow 0.3s ease-out;
  	-ms-transition: -ms-box-shadow 0.3s ease-out; 
  	-o-transition: -o-box-shadow 0.3s ease-out; 
  	transition:  box-shadow 0.3s ease-out;
}
.btn:hover, .btn:focus {
	background: #710000;
	border-color: #fff;
	color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}










