body
{
	font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif; 
	color: #000;
	background: url(images/bg2.png) #fff;
	text-align: center;
}
a
{
	text-decoration: none;
	color: #7f7f7f;
}
a:hover, a:focus
{
	color: #000;
}
img
{
	max-width: 100%;
	height: auto;
	border: 0;
	outline: 0;
}
h1
{
	font: normal 1.6em/1.3 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
	margin-bottom: 0;
	text-shadow: 0 2px 0 #fff;
}
h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	text-shadow: 0 1px 0 #fff;
}
h3
{
	margin: 0;
	font-weight: normal;
	text-shadow:0 1px 0 #fff;
}
p
{
	margin: 0 0 1em;
}
label {
	cursor: pointer;
	display: inline-block;
	background: #fff;
	background: rgba(255,255,255,0.5);
	border: 1px solid #333;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding: 0.4em 0.5em;
	float: left;
	width: 50%;
	height: 2.4em;
	text-transform: uppercase;
}
input,textarea {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	background: rgba(255,255,255,0.5);
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #333;
	border-left: 0;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding: 0.25em 0.6em;
	width: 50%;
	float: left;
	height: 2.4em;
}
select:focus, input:focus{
	background-color: #fff;
	outline: none;
}
::-webkit-input-placeholder
{
	color: #999;
}
:-moz-placeholder
{
	color: #999;
}
/****** Classes ********/

.btn {
	background: #9d0000; /* Old browsers */
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;
	line-height: 1;
	padding: 0.7em 1em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
    border: 1px solid #770000;
	-webkit-transition: -webkit-box-shadow 0.3s ease-out;
	-moz-transition: -moz-box-shadow 0.3s ease-out;
  	-ms-transition: -ms-box-shadow 0.3s ease-out; 
  	-o-transition: -o-box-shadow 0.3s ease-out; 
  	transition:  box-shadow 0.3s ease-out;
}
.btn:hover, .btn:focus {
	background: #710000;
	border-color: #fff;
	color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/****** Structure *********/

header[role="banner"] {
	position: relative;
	background: #111; 
	background: -moz-linear-gradient(top, #111 0%, #222 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#222)); 
	background: -webkit-linear-gradient(top, #111 0%,#222 100%); 
	background: -o-linear-gradient(top, #111 0%,#222 100%);
	background: -ms-linear-gradient(top, #111 0%,#222 100%); 
	background: linear-gradient(top, #111 0%,#222 100%);
}
header[role="banner"] > div {
	max-width: 65em;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	position: relative;
	-webkit-animation: fadein 0.4s ease-out 1;
	-moz-animation: fadein 0.4s ease-out 1;
	-ms-animation: fadein 0.4s ease-out 1;
}
header[role="banner"] a:hover, header[role="banner"] a:focus {
	color: #fff;
	background-image: -webkit-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -moz-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -ms-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image: -o-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
}
.logo
{
	float: left;
	margin: 0.35em 0 0.25em 0.7em;
}
.logo a, .logo img
{
	width: 100%;
	height: 19px;
}
.search {
	clear: both;
	border-top: 1px solid #333;
	padding: 0.625em 1em;
	position: relative;
}
.search label {
	display: none;	
}
.search input[type=search] {
	background: url(images/icon_search.png) no-repeat 95% 50% #111;
	color: #999;
	border: 1px solid #333;
	font-size: 0.8em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 0.6em 1.3em 0.6em 0.9em;
	width: 100%;
}
.search input[type=search]:hover, .search input[type=search]:focus {
	border-color: #fff;
	color: #fff;
}
.search input[type=submit] {
	background: none;
	padding: 0;
	border: 0;
	width: 2em;
	height: 2em;
	text-indent: -99999em;
	position: absolute;
	top: 0;
	right: 1em;
	z-index: 1;
}
.nav {
	margin: 0 -1em;
	text-align: center;
	text-transform: uppercase;
}
header[role="banner"] .nav {
	border-top: 1px solid #333;
	clear: left;
}
.nav li {
	display: inline-block;
	position: relative;
}
.nav li a {
	display: block;
	padding: 1em;
	border-left: 1px solid #333;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out; 
  	-o-transition: all 0.3s ease-out; 
  	transition:  all 0.3s ease-out;
}
.nav li:first-child a {
	border-left: 0;
}
.content {
	position: relative;
	text-align: left;
	overflow: hidden;
	text-shadow: 0 1px 0 #fff;
	-webkit-animation: fadein 0.4s ease-out 1;
	-moz-animation: fadein 0.4s ease-out 1;
	-ms-animation: fadein 0.4s ease-out 1;
	animation: fadein 0.4s ease-out 1;
}
.content img {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
}
.product-main {
	overflow: hidden;
	max-width: 63em;
	margin: 0 auto;
	padding: 1em;
}
.product-overview {
	margin-bottom: 1em;	
}
.price {
	font-weight: bold;
	display: inline-block;
}
.star {
	display: inline-block;
	margin: 0 0.5em;
	font-size: 0.9em;
}
.star li {
	display: inline-block;
	color: #9d0000;
}
.product-img {
	position: relative;
	text-align: left;
}
.img-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto 0.5em;
	background: #fff;
	border: 1px solid #d7dad3;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
}
.img-container img {
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#img-list {
	position: relative;
	left: 0;
	width: 100%;
}
.product-img nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 6em;
}
.product-img nav li {
	display: block;
	margin: 0.2em 0;
	border: 1px solid #d7dad3;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out; 
  	-o-transition: all 0.3s ease-out; 
  	transition:  all 0.3s ease-out;
	
}
.product-img nav li:hover, .product-img nav li:focus {
	border-color: #b0b3ad;
}
.product-img nav li.active {
	border-color: #9d0000;
}
.product-img nav li:last-child {
	margin: 0;
}
.product-img nav a {
	display: block;
}
.product-img nav a.active {
	border-color: #81d8d0;
}
.product-img nav li {
	min-width: 4em;
	min-height: 1em;
}
.product-img nav img {
	display: block;
	width: auto;
	height: auto;
}
.field {
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.75em 0 0.75em 0;
	width: 50%;
	float: left;
	overflow: hidden;
}
.qty-field {
	padding-right: 0.5em;
}
.size-field {
	padding-left: 0.5em;
}
.submit-form {
	clear: both;
	margin-bottom: 1em;
}
.submit-form input {
	display: block;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}






